---
layout: default
---

<!-- about.html -->
    

    <iframe frameborder="0" width="100%" height="400px" src="https://www.youtube.com/embed/u0kkqCNWnOM" allowfullscreen></iframe>
    <br>
    <br>
    <!-- <h1 style="font-weight: bold;">Bill Thompson</h1> -->
    <p style="font-size:40px"><span style="font-weight: bold">Bill Thompson</span> <span style="font-weight: lighter; font-size:20px;"> (he/him/they)</span></p>
      <div class="post">
        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html
              path=profile_image_path
              class=profile_image_class
              alt=page.profile.image
              cache_bust=true -%}
            {% endif -%}
            {%- if page.profile.more_info %}
            <div class="more-info">
              {{ page.profile.more_info }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div>
            {{ content }}
          </div>
          <!-- Selected papers -->
          {% if page.selected_papers -%}
            <h4><a href="{{ '/publications/' | relative_url }}" style="color: inherit;font-weight: bold;">Selected Publications</a></h4>
            <div>{% bibliography -f {{ site.scholar.bibliography }} --group_by none --query @*[selected=true]* %}</div>
          {%- endif %}

          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.html %}
              </div>

              <div class="contact-note">
                {{ site.contact_note }}
              </div>

            </div>
          {%- endif %}
        </article>

</div>
